<div class="row mg-0" style="height: 70vh ">
  <div class="col-md-4"></div>
  <div class="col-md-4" style=" border-radius: 15px;background-image: linear-gradient(#80FFDB, #64DFDF, #48BFE3, #5390D9, #5E60CE)">
    <form action="#" method="post"
          class="align-items-center; align-content-center">
      <div class="row my-3">
        <h2 style="text-align: center;color: black">CREATE NEW CUSTOMER</h2>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Name</label>
        </div>
        <div class="col-md-6">
          <label><input type="text"/></label>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Birthday </label>
        </div>
        <div class="col-md-6">
          <label><input type="date"/></label>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Gender</label>
        </div>
        <div class="col-md-6">
          <label><input type="radio"/></label>
          <label>Male</label>
          <label><input type="radio"></label>
          <label>Female</label>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>idCard</label>
        </div>
        <div class="col-md-6">
          <label><input type="text"/></label>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Phone Number</label>
        </div>
        <div class="col-md-6">
          <label><input type="text"/></label>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Email</label>
        </div>
        <div class="col-md-6">
          <label><input type="text"/></label>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Address</label>
        </div>
        <div class="col-md-6">
          <label><input type="text"/></label>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Customer Type</label>
        </div>
        <div class="col-md-6">
          <select>
            <option>
              --- choice customer type ---
            </option>
          </select>
        </div>
      </div>

      <div class="row my-5">
        <label style="text-align: center" ><input class="text-primary" type="submit" value="Create customer"/>
        </label>
      </div>
      <div class="row my-5">
        <label style="text-align: center" ><a href="#" style="margin-left: 30px;margin-top: 20px" class="text-dark">Back to Customer List</a>
        </label>
      </div>
    </form>
  </div>
</div>
