
<div class="row" style="margin: 10px 0">
  <h1 style="color: aqua;text-align: center;"> CONTACT LIST </h1>
</div>
<div class="row" style="margin: 10px">
  <table class="table">
    <thead class="table-dark">
    <th>#</th>
    <th>Facility</th>
    <th>Customer</th>
    <th>Start day</th>
    <th>End day</th>
    <th>Deposit</th>
    <th>Total amount</th>
    <th colspan="2">Attach facility</th>
    </thead>
    <tbody>
    <td >1</td>
    <td >Room Twin 01</td>
    <td >Nguyễn Thị Hào</td>
    <td >2020-12-08</td>
    <td >2020-12-08</td>
    <td >12.000 vnđ</td>
    <td >120.000vnđ</td>
    <td style="width: 50px">
      <button data-toggle="modal" data-target="#modalCreate"  type="button" class="btn btn-primary" >
        +
      </button>
    </td>
    <td style="width: 370px;text-align: center">
      <button data-toggle="modal" data-target="#exampleModal" id="show" type="button"
              class="btn btn-primary" style="width: 340px">
        Attach facility list
      </button>
    </td>
    </tbody>
  </table>
</div>
