<div class="row mg-0" style="height: 70vh ">
  <div class="col-md-4"></div>
  <div class="col-md-4" style=" border-radius: 15px;background-image: linear-gradient(#80FFDB, #64DFDF, #48BFE3, #5390D9, #5E60CE)">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="row my-3">
        <h2 style="text-align: center;color: black">EDIT CUSTOMER</h2>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Name</label>
        </div>
        <div class="col-md-6">
          <label><input type="text" id="name" name="name" formControlName="name"/></label>
          <label style="color: red" *ngIf="createForm.controls.name.hasError('required')&& createForm.controls.name.touched">Không được để trống</label>
          <label style="color: red" *ngIf="createForm.controls.name.hasError('pattern')&& createForm.controls.name.touched">Tên sai định dạng</label>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Birthday </label>
        </div>
        <div class="col-md-6">
          <label><input id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth" type="date"/></label>
          <label style="color: red" *ngIf="createForm.controls.dateOfBirth.hasError('required')&& createForm.controls.dateOfBirth.touched">Không được để trống</label>

        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>idCard</label>
        </div>
        <div class="col-md-6">
          <label><input id="idCard" name="idCard" formControlName="idCard" type="text"/></label>
          <label style="color: red" *ngIf="createForm.controls.idCard.hasError('required')&& createForm.controls.idCard.touched">Không được để trống</label>
          <label style="color: red" *ngIf="createForm.controls.idCard.hasError('pattern')&& createForm.controls.idCard.dirty">Sai định dạng</label>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Phone Number</label>
        </div>
        <div class="col-md-6">
          <label><input id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" type="text"/></label>
          <label style="color: red" *ngIf="createForm.controls.phoneNumber.hasError('required')&& createForm.controls.phoneNumber.touched">Không được để trống</label>
          <label style="color: red" *ngIf="createForm.controls.phoneNumber.hasError('pattern')&& createForm.controls.phoneNumber.dirty">Sai định dạng</label>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Email</label>
        </div>
        <div class="col-md-6">
          <label><input id="email" name="email" formControlName="email" type="text"/></label>
          <label style="color: red" *ngIf="createForm.controls.email.hasError('required')&& createForm.controls.email.touched">Không được để trống</label>
          <label style="color: red" *ngIf="createForm.controls.email.hasError('pattern')&& createForm.controls.email.dirty">Sai định dạng</label>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Address</label>
        </div>
        <div class="col-md-6">
          <label><input id="address" name="address" formControlName="address" type="text"/></label>
          <label style="color: red" *ngIf="createForm.controls.address.hasError('required')&& createForm.controls.address.touched">Không được để trống</label>

        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Customer Type</label>
        </div>
        <div class="col-md-6">
          <select class="form-select-sm" id="customerType" name="customerType" formControlName="customerType">
            <option value="">
              -- choice customer type --
            </option>
            <option [ngValue]="c.id" *ngFor="let c of customerTypeList">
              {{c.name}}
            </option>
          </select>
          <label style="color: red" *ngIf="createForm.controls.customerType.hasError('required')&& createForm.controls.customerType.touched">Không được để trống</label>

        </div>
      </div>

      <div class="row my-5">
        <label style="text-align: center" ><input class="text-primary" type="submit" value="Save change"/>
        </label>
      </div>
      <div class="row my-5">
        <label style="text-align: center" ><a href="#" style="margin-left: 30px;margin-top: 20px" class="text-dark">Back to Customer List</a>
        </label>
      </div>
    </form>
  </div>
</div>

