<div class="row mg-0" style="height: 70vh;margin: 0">
  <div class="col-md-4"></div>
  <div class="col-md-4" style=" background-image: linear-gradient(#80FFDB, #64DFDF, #48BFE3, #5390D9, #5E60CE);border-radius: 15px">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="align-items-center; align-content-center">
      <div class="row my-3">
        <h2 style="text-align: center;color: black">CREATE NEW CONTRACT</h2>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Start Date</label>
        </div>
        <div class="col-md-6">
          <label><input type="date" id="dateStart" name="dateStart" formControlName="dateStart"/></label>
          <label style="color: red" *ngIf="createForm.controls.dateStart.hasError('required')&& createForm.controls.dateStart.touched">Không được để trống</label>

        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>End Date</label>
        </div>
        <div class="col-md-6">
          <label><input type="date" id="dateEnd" name="dateEnd" formControlName="dateEnd"/></label>
          <label style="color: red" *ngIf="createForm.controls.dateEnd.hasError('required')&& createForm.controls.dateEnd.touched">Không được để trống</label>

        </div>
      </div>

      <div class="row my-2">
        <div class="col-md-6">
          <label>Deposit</label>
        </div>
        <div class="col-md-6">
          <label><input type="text" id="deposit" name="deposit" formControlName="deposit"/></label>
          <label style="color: red" *ngIf="createForm.controls.deposit.hasError('required')&& createForm.controls.deposit.touched">Không được để trống</label>


        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Customer</label>
        </div>
        <div class="col-md-6">
          <select id="customer" name="customer" formControlName="customer">
            <option value="">-- Choice Customer--</option>
            <option [ngValue]="c.id" *ngFor="let c of customerList">{{c.name}}</option>
          </select>
          <label style="color: red" *ngIf="createForm.controls.customer.hasError('required')&& createForm.controls.customer.touched">Không được để trống</label>

        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Employee</label>
        </div>
        <div class="col-md-6">
          <select  id="employee" name="employee" formControlName="employee">
            <option value=""> -- Choice Employee -- </option>
            <option [ngValue]="e.id" *ngFor="let e of employeeList">{{e.name}}</option>
          </select>
          <label style="color: red" *ngIf="createForm.controls.employee.hasError('required')&& createForm.controls.employee.touched">Không được để trống</label>

        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Facility</label>
        </div>
        <div class="col-md-6">
          <select  id="facility" name="facility" formControlName="facility">
            <option value="">-- Choice Facility --</option>
            <option [ngValue]="f.id" *ngFor="let f of facilityList">{{f.name}}</option>
          </select>
          <label style="color: red" *ngIf="createForm.controls.facility.hasError('required')&& createForm.controls.facility.touched">Không được để trống</label>

        </div>
      </div>

      <div class="row my-5">
        <label style="text-align: center" ><input class="text-primary" type="submit" value="Create contract"/>
        </label>

      </div>
      <div class="row my-5">
        <label style="text-align: center" ><a href="#" style="margin-left: 30px;margin-top: 20px" class="text-dark">Back to contract List</a>
        </label>
      </div>
    </form>

  </div>
</div>



