<!-- Task 1.2 Tạo prototype Danh sách các dịch vụ tại Furama-->
<div class="row p-3" style="width: 200px;margin-left: 60px"><button class="btn btn-primary" routerLink="/create-facility">Create new Facility</button></div>
<div class="p-3 text-center bg-light mb-3">
  <div class="container">
    <div class="row" >

      <!-- First column -->
      <div class="col-md-3" style="margin-bottom: 10px;border-radius: 10px"  *ngFor="let facility of facilitys">

        <!-- Card -->
        <div class="card" >
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title" style="text-align: left;color: blue"> Facility name: {{facility.name}}</h5>
            <p class="card-text" style="text-align: left"> Description: {{facility.descriptionOtherConvenience}}</p>
            <p *ngIf="facility.facilityType.name == 'room';else other" style="text-align: left;color: red">Free facility: {{facility.facilityFree}}</p>
            <ng-template #other><p style="text-align: left;color: red"> Standard Room: {{facility.standardRoom}}</p> </ng-template>

            <button [routerLink]="['/edit-facility', facility.id]"   type="button" class="btn btn-warning" style="margin-right: 10px">
              Edit
            </button>
            <button   type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="temp = facility">
              Delete
            </button>
          </div>
        </div>
        <!-- Card -->

      </div>
      <!-- First column -->
    </div>
  </div>
</div>
<app-delete-modal-facility [facility]="temp" (emitter)="reload()"></app-delete-modal-facility>
