<div class="row mg-0" style="min-height: 70vh ">
  <div class="col-md-4"></div>
  <div class="col-md-4" style=" background-image: linear-gradient(#80FFDB, #64DFDF, #48BFE3, #5390D9, #5E60CE)">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()"
          class="align-items-center; align-content-center">
      <div class="row my-3" >
        <h2 style="text-align: center;color: black">EDIT FACILITY</h2>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Facility Type</label>
        </div>
        <div class="col-md-6">
          <select class="form-select-sm" id="facilityType" name="facilityType" formControlName="facilityType"   [compareWith]="compareFn"
                  [(ngModel)]="facility.facilityType">
            <option [ngValue]="facilityType" *ngFor="let facilityType of facilityTypeList">
              {{facilityType.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Service Id </label>
        </div>
        <div class="col-md-6">
          <label><input type="text" id="id" name="id" formControlName="id" ngModel="{{facility.id}}"/></label>
          <label style="color: red" *ngIf="editForm.controls.id.hasError('required')&& editForm.controls.name.touched">Không được để trống</label>
          <!--          <label style="color: red" *ngIf="createForm.controls.name.hasError('pattern')&& createForm.controls.name.touched">Tên sai định dạng</label>-->
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Service Name </label>
        </div>
        <div class="col-md-6">
          <label><input type="text" id="name" name="name" formControlName="name" ngModel="{{facility.name}}"/></label>
          <label style="color: red" *ngIf="editForm.controls.name.hasError('required')&& editForm.controls.name.touched">Không được để trống</label>
          <!--          <label style="color: red" *ngIf="createForm.controls.name.hasError('pattern')&& createForm.controls.name.touched">Tên sai định dạng</label>-->
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Area</label>
        </div>
        <div class="col-md-6">
          <label><input type="text" id="area" name="area" formControlName="area" ngModel="{{facility.area}}"/></label>
          <label style="color: red" *ngIf="editForm.controls.area.hasError('required')&& editForm.controls.area.touched">Không được để trống</label>
          <label style="color: red" *ngIf="editForm.controls.area.hasError('min')&& editForm.controls.area.dirty">Diện tích phải lớn hơn 0</label>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Cost</label>
        </div>
        <div class="col-md-6">
          <label><input type="text" id="cost" name="cost" formControlName="cost" ngModel="{{facility.cost}}"/></label>
          <label style="color: red" *ngIf="editForm.controls.cost.hasError('required')&& editForm.controls.cost.touched">Không được để trống</label>
          <label style="color: red" *ngIf="editForm.controls.cost.hasError('min')&& editForm.controls.cost.dirty">Giá phải lớn hơn 0</label>

        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Max people</label>
        </div>
        <div class="col-md-6">
          <label><input type="text" id="maxPeople" name="maxPeople" formControlName="maxPeople" /></label>
          <label style="color: red" *ngIf="editForm.controls.maxPeople.hasError('required')&& editForm.controls.maxPeople.touched">Không được để trống</label>
          <label style="color: red" *ngIf="editForm.controls.maxPeople.hasError('min')&& editForm.controls.maxPeople.dirty">Số lượng người phải lớn hơn 0</label>

        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <label>Rent type</label>
        </div>
        <div class="col-md-6">
          <select id="rentType" name="rentType" formControlName="rentType">
            <option value="">
              -- Choice Rent type --
            </option>
            <option [ngValue]="rt" *ngFor="let rt of rentTypeList">
              {{rt.name}}
            </option>
          </select>
        </div>
        <label style="color: red" *ngIf="editForm.controls.standardRoom.hasError('required')&& editForm.controls.standardRoom.touched">Không được để trống</label>
      </div>

      <div class="row my-2" id="id-villa-house-standard-room" >
        <div class="col-md-6" >
          <label>Standard room</label>
        </div>
        <div class="col-md-6">
          <label><input type="text" id="standardRoom" name="standardRoom" formControlName="standardRoom" ngModel="{{facility.standardRoom}}"/></label>
        </div>
      </div>
      <div class="row my-2" id="id-villa-house-des" *ngIf="facilityType.name == 'Villa' || facilityType.name == 'House'">
        <div class="col-md-6">
          <label>Description other convenience</label >
        </div>
        <div class="col-md-6">
          <label><input type="text" id="descriptionOtherConvenience" name="descriptionOtherConvenience" formControlName="descriptionOtherConvenience" ngModel="{{facility.descriptionOtherConvenience}}"/></label>
        </div>
      </div>
      <div class="row my-2" id="id-villa-pool-area" *ngIf="facilityType.name == 'Villa'">
        <div class="col-md-6">
          <label>Pool area</label>
        </div>
        <div class="col-md-6">
          <label><input type="text" id="poolArea" name="poolArea" formControlName="poolArea"/></label>
        </div>
      </div>
      <div class="row my-2" id="id-villa-house-number-floors" *ngIf="facilityType.name == 'Villa' || facilityType.name == 'House'">
        <div class="col-md-6">
          <label>Number floors</label>
        </div>
        <div class="col-md-6">
          <label><input type="text" id="numberOfFloors" name="numberOfFloors" formControlName="numberOfFloors"/></label>
        </div>
      </div>
      <div class="row my-2" id="id-room-facility-free" *ngIf="facilityType.name == 'Room'">
        <div class="col-md-6">
          <label>Facility free</label>
        </div>
        <div class="col-md-6">
          <label><input type="text" id="facilityFree" name="facilityFree" formControlName="facilityFree"/></label>
        </div>
      </div>

      <div class="row my-5">
        <label style="text-align: center" ><input style="min-width: 100px" class="text-primary" type="submit" value="EDIT"/>
        </label>

      </div>
    </form>
  </div>
</div>
