<div class="row" style="height: 50px;margin: 0">
  <div class="col-md-3" style="display: flex">
    <form class="d-flex" action="#" style="margin: auto;margin-left: 40px">
      <input class="form-control me-2" type="text" placeholder="Name" name="name" aria-label="Search">
      <input class="form-control me-2" type="text" placeholder="Email" name="email" aria-label="Search">
      <select name="customerType" style="margin-right: 5px" >
        <option value="-1">Select</option>
      </select>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  <div class="col-md-6">
    <h1 style="text-align: center;color: #ee00ff"> CUSTOMER LIST</h1>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-2  " style="display: flex">
    <a routerLink="/add-new-customer" style="margin: auto"  class="btn btn-primary">Add new Customer</a>
  </div>
</div>
<div class="row mg-0" style="height: 70vh; margin: 0">

  <div class="col-md-12">
    <table class="table table-success table-striped">
      <thead>
      <tr>
        <th>Stt</th>
        <th>
          Customer Type
        </th>
        <th>Name</th>
        <th>Birthday</th>
        <th>idCard</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>

      </tr>
      </thead>
      <tbody *ngFor="let customer of customers;index as i">
      <tr>
        <td > {{i+1}}</td>
        <td >{{customer.customerType.name}}</td>
        <td >{{customer.name}}</td>
        <td >{{customer.dateOfBirth | date: "longDate"}}</td>
        <td >{{customer.idCard}}</td>
        <td >{{customer.phoneNumber}}</td>
        <td >{{customer.email}}</td>
        <td> <a routerLink="/edit-customer"><button   type="button" class="btn btn-warning">
          Edit
        </button></a></td>
        <td> <button   type="button" class="btn btn-danger">
          Delete
        </button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
