<div  style="min-height: 50vh">
  <div class="row" style="height: 50px;width: 100%; margin-bottom: 5px;margin-right: 12px">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <h1 style="text-align: center;color: #ee00ff"> CONTRACT LIST</h1>
    </div>
    <div class="col-md-2  " style="display: flex">
      <a routerLink="/create-contract" style="margin: auto"  class="btn btn-primary">Add new Contract</a>
    </div>
  </div>
  <div class="row" style="margin: 10px">
    <table class="table">
      <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Facility</th>
        <th>Customer</th>
        <th>Start day</th>
        <th>End day</th>
        <th>Deposit</th>
        <th>Total amount</th>
        <th colspan="2">Attach facility</th>
      </tr>

      </thead>
      <tbody *ngFor="let contract of contracts | paginate: {itemsPerPage: 3, currentPage:p}; index as i">
      <tr>
        <td >{{i+1}}</td>
        <td >{{contract.facility.name}}</td>
        <td >{{contract.customer.name}}</td>
        <td >{{contract.dateStart | date: "longDate"}}</td>
        <td >{{contract.dateEnd | date: "longDate"}}</td>
        <td >{{contract.deposit | currency: "USD"}} VNĐ</td>
        <td >{{contract.totalPay | currency: "USD"}} VNĐ</td>
        <td style="width: 50px">
          <button data-toggle="modal" data-target="#modalCreate"  type="button" class="btn btn-primary" >
            +
          </button>
        </td>
        <td style="width: 370px;text-align: center">
          <button data-toggle="modal" data-target="#exampleModal" id="show" type="button"
                  class="btn btn-primary" style="width: 340px">
            Attach facility list
          </button>
        </td>

      </tr>

      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

</div>


